.main-container {
    padding-top: 3rem;
    @include media-breakpoint-down(md) {
        padding: 0;
    }
}

.main-section {
    margin-bottom: 5rem;
    box-shadow: $card-box-shadow;
}
.promo-container {
    margin-bottom: 5rem;
}